/*
Error: Invalid CSS after "...enter no-repeat": expected ")", was ";"
        on line 57 of /Users/LinCZ/mydesign/design-boilerplate/sass/style.scss

52:     }
53:     h2 {
54:         font-size: 2em;
55:         color: $second-text-color;
56:     }
57:     background: url(url(http://juntao.gitbooks.io/3-web-designs-in-3-weeks/content/find_an_agent/images/find-an-agent-hero.png) center center no-repeat;
58:     background-size: cover;
59:     color: $highlight-text-color;
60: }
61: 
62: form {

Backtrace:
/Users/LinCZ/mydesign/design-boilerplate/sass/style.scss:57
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/scss/parser.rb:1162:in `expected'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/script/lexer.rb:221:in `expected!'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/script/parser.rb:580:in `assert_tok'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/script/parser.rb:408:in `funcall'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/script/parser.rb:387:in `ident'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/script/parser.rb:246:in `unary_not'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/script/parser.rb:246:in `unary_div'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/script/parser.rb:246:in `unary_minus'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/script/parser.rb:246:in `unary_plus'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/script/parser.rb:227:in `times_div_or_mod'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/script/parser.rb:227:in `plus_or_minus'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/script/parser.rb:227:in `relational'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/script/parser.rb:227:in `eq_or_neq'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/script/parser.rb:227:in `and_expr'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/script/parser.rb:227:in `or_expr'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/script/parser.rb:361:in `space'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/script/parser.rb:345:in `interpolation'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/script/parser.rb:293:in `expr'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/script/parser.rb:571:in `assert_expr'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/script/parser.rb:62:in `parse'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/scss/parser.rb:1024:in `sass_script'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/scss/parser.rb:877:in `value!'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/scss/parser.rb:750:in `block in try_declaration'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/scss/parser.rb:1138:in `rethrow'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/scss/parser.rb:763:in `try_declaration'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/scss/parser.rb:693:in `declaration_or_ruleset'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/scss/parser.rb:658:in `block_child'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/scss/parser.rb:639:in `block'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/scss/parser.rb:632:in `ruleset'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/scss/parser.rb:657:in `block_child'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/scss/parser.rb:42:in `parse'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/engine.rb:393:in `_to_tree'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/engine.rb:268:in `render'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:209:in `each'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/guard-compass-1.1.0/lib/guard/compass.rb:140:in `perform'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/guard-compass-1.1.0/lib/guard/compass.rb:123:in `run_on_change'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/guard-2.12.6/lib/guard/runner.rb:82:in `block in _supervise'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/guard-2.12.6/lib/guard/runner.rb:79:in `catch'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/guard-2.12.6/lib/guard/runner.rb:79:in `_supervise'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/guard-2.12.6/lib/guard/runner.rb:61:in `block (3 levels) in run_on_changes'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/guard-2.12.6/lib/guard/runner.rb:56:in `each'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/guard-2.12.6/lib/guard/runner.rb:56:in `block (2 levels) in run_on_changes'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/guard-2.12.6/lib/guard/runner.rb:119:in `block (2 levels) in _run_group_plugins'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/guard-2.12.6/lib/guard/runner.rb:117:in `each'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/guard-2.12.6/lib/guard/runner.rb:117:in `block in _run_group_plugins'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/guard-2.12.6/lib/guard/runner.rb:116:in `catch'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/guard-2.12.6/lib/guard/runner.rb:116:in `_run_group_plugins'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/guard-2.12.6/lib/guard/runner.rb:54:in `block in run_on_changes'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/guard-2.12.6/lib/guard/runner.rb:53:in `each'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/guard-2.12.6/lib/guard/runner.rb:53:in `run_on_changes'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/guard-2.12.6/lib/guard/internals/queue.rb:23:in `process'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/guard-2.12.6/lib/guard/commander.rb:43:in `start'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/guard-2.12.6/lib/guard/cli/environments/valid.rb:16:in `start_guard'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/guard-2.12.6/lib/guard/cli.rb:122:in `start'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/thor-0.19.1/lib/thor/command.rb:27:in `run'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/thor-0.19.1/lib/thor/invocation.rb:126:in `invoke_command'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/thor-0.19.1/lib/thor.rb:359:in `dispatch'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/thor-0.19.1/lib/thor/base.rb:440:in `start'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/guard-2.12.6/lib/guard/aruba_adapter.rb:32:in `execute'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/guard-2.12.6/lib/guard/aruba_adapter.rb:19:in `execute!'
/Users/LinCZ/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/guard-2.12.6/bin/_guard-core:11:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...enter no-repeat\": expected \")\", was \";\"\A         on line 57 of /Users/LinCZ/mydesign/design-boilerplate/sass/style.scss\A \A 52:     }\A 53:     h2 {\A 54:         font-size: 2em;\A 55:         color: $second-text-color;\A 56:     }\A 57:     background: url(url(http://juntao.gitbooks.io/3-web-designs-in-3-weeks/content/find_an_agent/images/find-an-agent-hero.png) center center no-repeat;\A 58:     background-size: cover;\A 59:     color: $highlight-text-color;\A 60: }\A 61: \A 62: form {"; }
